/* Styles for medium screens (e.g., laptops) */
.picture-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    /* height: 100vh;  */
    background-color: #f0f0f0; 
    margin-top: 2.5em;
}

.show-business-image {
    width: 100%; 
    max-height: 750px; 
    object-fit: cover; 
    display: block;
    z-index: 0;
}

#bus-name {
    display: flex;
    margin-left: 9px;
    font-family: Helvetica, sans-serif;
    font-size: 60px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.rest-info {
    z-index: 2;
    position: absolute;
    /* top: 78vh; */
    /* left: 8vw; */
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: rgb(99, 99, 99) 0 0 10px;
    backdrop-filter: blur(4px);
    margin-bottom: 10px;        
    margin-left: 90px;
}

.business-rating-cont {
    display: flex;
    align-items: center; /* Align the content vertically in the container */
    font-size: 16px;
    margin: 5px 0;
    color: white;
}

.extra-content {
    min-height: 31.25em; 
    width: 100vw;
    /* padding-left: 8em; */
    padding-bottom: 1em;
    margin-top: 2em;
    /* padding-left: 8vw; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
}
/* changed the min height from 31.25em */

.claim-category {
    display: flex;
    align-items: center;
}

.claim-review {
    display: flex; 
    align-items: center; 
    color: rgb(88, 180, 255); 
    font-weight: bold; 
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 17px;
    margin-right: 10px;
}

#bus-cat {
    font-size: 19px;
    margin-top: 3px;
}

.check-image {
    width: 17px; 
    height: 17px; 
    margin-right: 2px; 
}

.open-timing {
    display: flex;
    align-items: center;
    font-size: 17px;
}

#open {
    color: green;
}

#timing {
    margin-left: 10px;
}

/* Media query for larger screens (e.g., 24-inch monitors) */
@media screen and (min-width: 1920px) {
    /* Increase image size for larger screens */
    .show-business-image {
        display: flex;
        width: 100%; 
        max-height: 900px; 
    }
}



.review-button{
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    display: flex;
    align-items: center;
    background-color: #D32322;
    border-radius: 8px;
    box-shadow: 0 9px 25px hsla(212, 8%, 64%, 0.2);
    color: #fff;
    font-size: 20px;
    height: 50px;
    justify-content: space-evenly;
    width: 200px;
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.review-button:hover {
    background-color: #ee4949;
}


#map-hours-rev{
    width: 100%;
    padding-left: 8vw;
}

#map-hours{
    width: 65%;
    display: flex;
    justify-content: space-between;

}

#res-form{
    padding-right: 8vw;
}
.week-schedule {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap to the desired space between the paragraphs */
  }