.business-pg-container {
    display: grid;
    grid-template-columns: 45% 55%;
    column-gap: 1em;
    margin-top: 7vw;
}

.businesses-container {
    overflow-y: auto;
    padding: 0px 1em;
    height: 90vh;
}

.business-pg-map-container {
    border: 1px solid green;
}

.businesses-container::-webkit-scrollbar {
    display: none;
}

.business-link {
    text-decoration: none;
    color: inherit;
}
  
.business-container {
    display: flex;
    /* border: 1px solid #ccc; */
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.business-container:hover {
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
}
  
.business-image-container {
    flex: 1;
}
  
.bus-image { /* Changed the naming here and its changing up the show */
    width: 300px;
    height: 200px;
    object-fit: cover;
}

  
.business-details {
    flex: 2;
    padding: 10px;
}
  
h2 {
    font-size: 20px;
    margin: 0;
    color: #333;
}
  
.business-rating {
    font-size: 16px;
    margin: 5px 0;
    color: #f15b2a;
}
  
.rating-count {
    font-size: 14px;
    color: #999;}
  
.business-info {
    font-size: 14px;
    margin: 10px 0;
    color: #333;
}
  
.business-location {
    font-size: 14px;
    color: #777;
}
  
#address {
    margin: 0;
    list-style: none;
    padding: 0;
}
  
#phone_number {
    font-size: 16px;
    color: #333;
}
  