.carousel {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: relative;
    width: 100vw;
    height: 100vh;
}
  
.fade {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3.1s ease-in-out; /* Increase the duration to 3.2 seconds */
}
  
.fade.active {
    opacity: 1;
}

.splash-text{
    /* width: 200px; */
}
  
.centext {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center;
    font-size: 35px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
    color: #ffffff; /* Text color */
    position: absolute;
    z-index: 1; /* Ensure text appears above the image */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    text-shadow: rgb(0, 0, 0) 0 0 10px;
    backdrop-filter: blur(4px);
    width: 345px;
}
  
.logo {
    width: 9%;
}
  
  @media screen and (min-width: 1920px) {
    .centext {
        display: flex;
        align-items: center; /* Center vertically */
        font-size: 40px; /* Adjust the font size as needed */
        font-weight: bold; /* Make the text bold */
        color: #ffffff; /* Text color */
        position: absolute;
        z-index: 1; /* Ensure text appears above the image */
        top: 50%;
        left: 50%;
        transform: translate(-30%, -50%);
    }
    .logo {
        width: 9%;
    }
}
  

/* NEED TO MAKE SURE EVERYTHING IS CHANGING DYNAMICALLY */

  