#header {
    position: fixed;
    width: 100%;
    height: 45px;
    background-color: #d32323;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 100;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.demo-login{
    height: 10px;
    cursor: pointer;
}

.login-btn, .signup-btn, .demo-login, .reservation-btn {
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
    margin-right: 1em;
    line-height: 1.5em;
    padding: 0.3em 0.6em;
    border-radius: 13px;
    color:#D32322;
    background-color: white;
    font: helvetica neue;
    font-weight: bold;
}


.demo-login{
    height: 24px;
    /* background-color: blueviolet; */
    
}


#NotYelp{
    margin: 0 1em;
}

.restaurants{
    margin-left: 5em;
}


.restaurants-link {
    /* background-color: green; */
    /* text-decoration: none;
    color: #d2d0d5;
    font-size: 16px;
    border: 1px solid gray;
    padding: 0.2em 0.5em;
    border-radius: 4px; */
    display: inline-block;
    text-align: center;
    border: 1px solid #D32322;
    margin-left: 1em;
    line-height: 1.5em;
    padding: 0.3em 0.6em;
    border-radius: 13px;
    color:  #D32322;
    background-color: white;
    font: helvetica neue;
    font-weight: bold;
 
}

#sessionLinks{
    text-align: right;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 1.5rem;
    
}

.searchbar-container{
    display: flex;
    align-items: center;
    outline: none;
}


#sear-btn {
    height: 45px; 
    cursor: pointer;
}

#search-input {
    width: 30vw;
    height: 4vh; 
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid rgb(255, 0, 0);
    /* padding: 0.5em 0.7em; */
}
#search-input::-webkit-search-decoration,
#search-input::-webkit-search-cancel-button,
#search-input::-webkit-search-results-button,
#search-input::-webkit-search-results-decoration {
  display: none;
}

#search-input:focus {
    outline: none;
  }

.profile-dropdown{
    position: absolute;
    background-color: rgb(208, 193, 193);
    border-radius: 5px;
    padding: 10px;
    /* justify-content: space-evenly; */
    height: 50px;
    /* margin-left: 0;
    margin-right: 0; */
    padding-left: 0; 
    padding-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    color: black;
    /* font-family: helvetica , sans-serif; */
    /* cursor: pointer; */
} 
.profile-dropdown * {
    margin-top: 5px ;
    width: 170px;
    border: none;
    background-color: rgb(208, 193, 193);
    padding-right: 5px;
    /* margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; */

}


#logout-btn:hover {
    background-color: #D32322;
    color: white;
    /* width: 100%; */
    /* border-radius: 5px; */
    cursor: pointer;
}


#search-dropdown{
    outline: none;
    position: absolute;
    color: black;
    /* height: 200px;
    margin-top: 40px; */
    top: 50px;
    background-color: rgb(255, 255, 255);
    width: 31vw;
    margin-top: 15px;
    /* padding: 1erm 2erm 1erm 2erm; */
    /* padding-top: 5px;
    padding-bottom: 5px; */
    font-family: Helvetica, sans-serif;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#search-dropdown * {
    padding-bottom: 7px;
    padding-top: 7px;
}


#search-dropdown *:hover {
    background-color: #d32323;
    color: white;
}





.profile-button{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 0.6em 0.8em 0.6em 0.8em;
}