#header {
    position: fixed;
    width: 100%;
    height: 45px;
    background-color: #d32323;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 100;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.demo-login{
    height: 10px;
    cursor: pointer;
}

.login-btn, .signup-btn, .demo-login {
    display: inline-block;
    text-align: center;
    border: 1px solid gray;
    margin-right: 1em;
    line-height: 1.5em;
    padding: 0.2em 0.5em;
    border-radius: 4px;
    color: #d2d0d5;
}

.demo-login{
    height: 24px;
    /* background-color: blueviolet; */
    
}


#NotYelp{
    margin-right: 2em;
}

.restaurants{
    margin-left: 5em;
}


.restaurants-link {
    /* background-color: green; */
    text-decoration: none;
    color: #d2d0d5;
    /* font-weight: bold; */
    font-size: 16px;
    border: 1px solid gray;
    padding: 0.2em 0.5em;
    border-radius: 4px;
 
}

#sessionLinks{
    text-align: right;
    justify-content: flex-end;
    margin-left: 40em;
}